
html, body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}


header {
    /*background-color: rgb(192, 177, 177);*/
    max-width: 100%;
    margin: auto;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    text-transform: uppercase;
}

header h1 {
    margin: auto;
    font-weight: 100;
    font-style: italic;
    font-size: 4em;
    text-align: center;
    

}

.nav-menu-items {
    /*background-color: rgb(177, 192, 179);*/
    margin: 20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
     
}

.nav-menu-items a{
    text-decoration: none;
}

.nav-menu-items li {
    
    margin: auto;
    text-align: center;
    list-style-type: none;
    
    
}

.content-wrapper {
    background-color: rgb(102, 155, 201);
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.text {  
    background-color: rgb(46, 112, 170);
    width: 50%;
}


footer {
    background-color: bisque;
    margin: 0;
}