
/* FULL PAGE CSS + NAVBAR*/

html, body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 100%;
    padding-top: 1.0vw;
    padding-bottom: 2.0vw;
    text-transform: uppercase;
    
}

.header-title h1 {
    margin: auto;
    font-weight: 100;
    font-style: italic;
    font-size: 4.5em;
    text-align: center;
    }


nav {
    margin-top: 1.8vw;
    margin-bottom: 0;
    
}


.nav-menu-items {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.6em;
    font-size: .8em;
    letter-spacing: 0.1em;
       
}

@media screen and (viewport-width:950px) {
    .nav-menu-items {
        line-height: 1.8em;
        font-size: 1.0em;
    }
}
@media screen and (max-width:950px) {
    .nav-menu-items {
        line-height: 1.8em;
        font-size: 1.0em;
    }
}


.nav-menu-items a{
    text-decoration: none;
    color: black;
    text-decoration: underline solid rgba(0, 0, 0, 0) 0.1em;
    text-underline-offset: 0.15em;
    transition: 0.3s;
}

.nav-menu-items li {
    
    list-style-type: none;
        
}

.nav-menu-items li a{
    
    padding: 2px;
    margin: 5px;
    font-weight: 500;
            
}


#current_page {
    color: rgb(90, 90, 90);
    text-decoration: underline solid rgb(90, 90, 90, 1) 0.1em;
    text-underline-offset: 0.4em;
}


a:hover {
    color: rgb(177, 177, 177, 1);
    text-decoration: underline solid rgb(177, 177, 177, 1) 0.1em;
    text-underline-offset: 0.4em;
    
}

#current_page:hover{
    color: rgb(177, 177, 177);
}

.content-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    
}

@media screen and (max-width:1024px) {
    .content-wrapper {
        width: 90%;
    }
}

/* INDEX PAGE CSS */
.picture {
    float: left;
    
}


.about  {
    
    display: flex;
    align-items: center;
        
}

@media screen and (viewport-width:950px) {
    .about {
        flex-direction: column;
    }
}
@media screen and (max-width:950px) {
    .about {
        flex-direction: column;
    }
}


/* RECORDINGS PAGE CSS */

.recordings {
    display: flex;
    flex-direction: column;
    
    
}

.recording-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    margin-bottom: 5vh;

    
}

.recordings-about h1{
    text-align: center;
}

.recordings-about p{
    text-align: left;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.audio {

}





/* FOOTER CSS */

footer {
    
    
    margin-top: 2.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_links {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    line-height: 1.6em;
    font-size: .8em;
    letter-spacing: 0.12em;


    justify-content: center;
    list-style-type: none;
    
    padding: 0 15vw;
    border-top: 1px solid  black;

}

.footer_links li {
    padding: 5px;
    margin: 3px;
}



