
html, body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    /*background-color: rgb(192, 177, 177);*/
    max-width: 100%;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    text-transform: uppercase;
    
}

.header-title h1 {
    margin: auto;
    font-weight: 100;
    font-style: italic;
    font-size: 4.5em;
    text-align: center;
    }


nav {
    margin-top: 1.8vw;
    margin-bottom: 0;
    
}


.nav-menu-items {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.6em;
    font-size: .8em;
    letter-spacing: 0.1em;
       
}

.nav-menu-items a{
    text-decoration: none;
    color: black;
    text-decoration: underline solid rgba(0, 0, 0, 0) 0.1em;
    text-underline-offset: 0.15em;
    transition: 0.3s;
}

.nav-menu-items li {
    
    list-style-type: none;
        
}

.nav-menu-items li a{
    
    padding: 2px;
    margin: 5px;
    font-weight: 500;
            
}


#current_page {
    color: rgb(90, 90, 90);
    text-decoration: underline solid rgb(90, 90, 90, 1) 0.1em;
    text-underline-offset: 0.4em;
}


a:hover {
    color: rgb(177, 177, 177, 1);
    text-decoration: underline solid rgb(177, 177, 177, 1) 0.1em;
    text-underline-offset: 0.4em;
    
}

#current_page:hover{
    color: rgb(177, 177, 177);
}

.content-wrapper {

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2.5vw;
    
}

.text {  

    width: 50%;
}

footer {
    
    background-color: bisque;
    margin-top: 2.5vh;
    width: 100%;
    
    /*
    background-color: bisque;
    margin: 0;
    margin-top: 2.5vh;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    */
    
}